<!--Start Breadcrumb-->
<div class="row" ng-controller="HomeCtrl">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li class="branch">{{ branch }}
            </li>
            <li><a href="#/home">Home</a>
            </li>
        </ol>
    </div>
</div>
<!--End Breadcrumb-->

<div class="jumbotron">
    <h1>Welcome to Webleader!</h1>
    <p class="lead hidden-xs hidden-sm">
        <img src="../../images/welcomeImage.png" alt="Welcome!">
        <br>
    </p>
</div>